In [0]:
import requests

In [0]:
url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [0]:
from bs4 import BeautifulSoup

In [0]:
soup = BeautifulSoup(url ,'lxml')

In [0]:
codes_list=[]
borough_list=[]
neighborhood_list=[]
i=1
for tag in soup.table.find_all('td'):
    if i == 1:
        codes_list.append(tag.text)
    if i == 2:
        borough_list.append(tag.text)
    if i == 3: 
        neighborhood_list.append(tag.text)
    i = i+1
    if i==4:
        i=1

In [0]:
import pandas as pd
toronto_df = pd.DataFrame(columns = ['PostalCode' , 'Borough' , 'Neighbour_list'])
toronto_df['PostalCode'] = codes_list
toronto_df['Borough'] = borough_list
toronto_df['Neighbour_list'] = neighborhood_list

In [12]:
toronto_df.head(4)

  PostalCode       Borough      Neighbour_list
0        M1A  Not assigned      Not assigned\n
1        M2A  Not assigned      Not assigned\n
2        M3A    North York         Parkwoods\n
3        M4A    North York  Victoria Village\n

In [0]:
id = toronto_df[toronto_df['Borough'] == 'Not assigned'].index

In [0]:
toronto_df.drop(id , inplace=True)

In [25]:
toronto_df.head(1)

  PostalCode     Borough Neighbour_list
2        M3A  North York    Parkwoods\n

In [29]:
toronto_df['Neighbour_list'] = toronto_df.Neighbour_list.str.replace("\n","")
toronto_df = toronto_df.reset_index(drop=True)
toronto_df.head(3)

  PostalCode           Borough    Neighbour_list
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront

In [0]:
for  i in range(210):
  if toronto_df.Neighbour_list[i]== 'Not assigned':
    toronto_df.Neighbour_list[i]=toronto_df.Borough[i]

In [34]:
toronto_df

    PostalCode           Borough            Neighbour_list
0          M3A        North York                 Parkwoods
1          M4A        North York          Victoria Village
2          M5A  Downtown Toronto              Harbourfront
3          M6A        North York          Lawrence Heights
4          M6A        North York            Lawrence Manor
..         ...               ...                       ...
205        M8Z         Etobicoke  Kingsway Park South West
206        M8Z         Etobicoke                 Mimico NW
207        M8Z         Etobicoke        The Queensway West
208        M8Z         Etobicoke     Royal York South West
209        M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [38]:
toronto_df = toronto_df.groupby(['PostalCode', 'Borough'])['Neighbour_list'].apply(','.join).reset_index()

toronto_df

    PostalCode      Borough                                     Neighbour_list
0          M1B  Scarborough                                      Rouge,Malvern
1          M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2          M1E  Scarborough                    Guildwood,Morningside,West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101        M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [40]:
toronto_df.shape

(103, 3)

In [0]:
toronto_df.to_csv(r'df_can.csv')